<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <div class="container">
            <h1 class="welcome"><%= welcome %></h1>

            <h4>Login:</h4>
            <label>username:</label><br>
            <input type="input" class="username"><br>
            <label>password:</label><br>
            <input type="input" class="password"><br>
            <input type="submit" class="login">

            <h4>Register:</h4>
            <label>username: (5-16 characters)</label><br>
            <input type="input" class="RegisterUsername"><br>
            <label>password: (8-16 characters)</label><br>
            <input type="input" class="RegisterPassword"><br>
            <input type="submit" class="register">

        </div>

        <form method="GET" action="/logged" class="hidden">
            <input type="hidden" name="username" id="username" class="hiddenUsername">
            <input type="hidden" name="password" id="password" class="hiddenPassword">
        </form>

        <script src="/index.js"></script>
    </body>
</html>