<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1 class="welcome"><%= welcome %></h1>
        <a href="/shorten/test" class="welcome"><%= tryit %></a>
        <div class="container">
            <form action="/api/query" method="get">
                <label>Link name: (3 chars or more)</label><br>
                <input type="input" id="linkName" name="linkName"><br>
                <label>Link to shorten: (https://example.com)</label><br>
                <input type="input" id="link" name="link"><br>

                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>